.App {
}

@font-face {
  font-family: "Eurocat";
  src: url("/src/fonts/EurocatVF.woff2") format("woff2-variations"),
    url("/src/fonts/EurocatVF.woff") format("woff-variations"),
    url("/src/fonts/EurocatVF.ttf") format("truetype-variations");
}

body {
  background-color: #e8e8e8;
  overflow: hidden;
}

.pulsating-text {
  font-variation-settings: "grid" var(--font-variation-settings);
}

.pulsating-text {
  font-family: "Eurocat";
  font-size: 355px;
  line-height: 0.8;
  letter-spacing: -35.5px;
  color: #faf5ed;
  opacity: 0.9;
  text-shadow: -0.75px 0.2px #f0f0f0, -1px 0.2px #fff, 0.75px -0.2px #b5b1aa,
    1px -0.2px #7a7974;
  padding-left: 50px;
  padding-top: 35px;
}

@media only screen and (max-width: 768px) {
  .pulsating-text {
    font-size: 75px;
    line-height: 1;
    letter-spacing: -7.5px;
    color: #fcf7d4;
    padding-left: 10px;
    padding-top: 25px;
    font-variation-settings: "grid" 225;
    animation: none;
  }

  body {
    background-color: #212121;
    overflow: hidden;
  }

  .static-text {
    font-size: 75px;
    line-height: 1;
    letter-spacing: -7.5px;
    color: #fffbe3;
    padding-top: 30px;
    font-variation-settings: "grid" 100;
  }

  .credit-text {
    font-size: 25px;
    line-height: 1;
    letter-spacing: -2.5px;
    color: #fffbe3;
    padding-top: 200px;
    padding-bottom: 30px;
    text-shadow: none;
    font-variation-settings: "grid" 100;
  }
}

.desktop .pulsating-text {
  display: block;
}
